include ./components/control-input/control-input
include ./components/input-field/input-field

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./style.scss">
    <title>Slider plugin Demo-page</title>
  </head>
  <body class="js-app">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Slider name</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="#">Home</a>
            <a class="nav-link  active" href="#">Playground</a>
            <a class="nav-link" href="#">Quick start</a>
          </nav>
        </div>
      </header>

      <main role="main" class="page__content  inner  cover">
        <h1 class="cover-heading  text-center">Playground</h1>
        <div class="playground  js-playground  rounded  p-3">
          <div class="row">
            <div class="col-sm">
              <div class="display">
                <div class="display__control-input  js-control-input-wrapper">
                  +control-input()
                </div>
                <div class="display__slider-wrapper  js-slider-wrapper"></div>
              </div>
            </div>
            <div class="col-sm">
              <div class="control-pane  js-control-pane">
                <div class="control-pane__inner">
                  <form class="js-control-pane__form">
                    +input-field("boundary (Max/Min) values:", "negative numbers are supported too")(
                      class="js-control-pane__boundaries-input"
                      id="control-pane__boundaries-input"
                      placeholder="format: 0, 100"
                    )
                    +input-field("initial values:", "each value represents the handle")(
                      class="js-control-pane__values-input"
                      id="control-pane__values-input"
                      placeholder="format: 20, 50, 80..."
                    )
                    +input-field("step:", "from 1 to Max−Min value")(
                      type="number"
                      class="js-control-pane__step-input"
                      id="control-pane__step-input"
                      placeholder="format: 20"
                    )
                    <div class="form-group custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input  js-control-pane__hasTooltips-checkbox" id="control-pane__hasTooltips-checkbox">
                      <label class="control-pane__label  custom-control-label" for="control-pane__hasTooltips-checkbox">Include tooltips?</label>
                    </div>
                    <div class="form-group custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input  js-control-pane__orientation-checkbox" id="control-pane__orientation-checkbox">
                      <label class="control-pane__label  custom-control-label" for="control-pane__orientation-checkbox">Turn vertically?</label>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p class="text-center">
            The site is built by <a href="https://github.com/alanreidt">Alan Reid</a> for <a href="https://github.com/alanreidt/slider">Slider plugin</a>.
            <br>
            Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.
          </p>
        </div>
      </footer>
    </div>

    <script src="./app.js"></script>
  </body>
</html>
